.container {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #101315;
  background-image: linear-gradient(180deg, #eaeaf3 25%, #ffffff 100%);
}

.center {
  position: absolute;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}
